.timeschedule{
    display: flex;
    flex-direction: row;
    color: #fff;
}
.dateTime{
    font-size: 1.5em;
    color: #fff;
    background-color: #263959;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.3em 20px 10px;
    border-radius: 15px; 
}
.detailBooking{
    
}
.timeBooking{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.formID{
    margin-bottom: 1.5em;
    display: flex;
    
}
.fieldID{
    width: 100%;
    font-size: 3em;

}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #999999;
}
.note{
    margin: 4px;
}

button.confirmButton{
    background-color: #263959;
    color: #fff;
    width: 8em;
    font-size: 1em;
}
