#booking-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.context {
    display: flex;
    flex-direction: row;
}
.my-booking-ctn{
    display: flex;
    justify-content: center;
}
.mybooking{
    padding-bottom: 3em;
    max-width: 640px; 
    min-width: 20em;
    background-color: #8C181C ;
    display: flex;
    justify-content: center; 
    flex-direction: column;
}
.mybooking-inner{
    background-color: #fff;
    padding: 1em;
    border-bottom-left-radius: 4em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
button.mybooking-btn {
    width: 300px;
    height:90px;
    background: #263959;
    color: white;
    border: 2px solid rgba(0, 0, 0, .1);
    outline: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    align-items: center;
}

button.mybooking-btn :hover {
    border: 2px solid #515151;
    background: #fff3b7;
    color: black;
}
  
button.mybooking-btn :active {
    border: 2px solid #515151;
    background: #fff3b7;
    color: black;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
}

#description-Date{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #263959;
    color: #fff;
    width: 10%;
    padding: 0.7em;
    border-radius: 0.4em;
    margin-bottom: 1em;
}

#btn-group{
    display: flex ;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 2px 5px 2px 5px;
    border-radius: 1px;
    background-color: #EE596B;
}

#cancle-btn{
    background-color: #EE596B;
}

.confirm-btn {
    background-color: #78D0B1;
}

.close-ctn {
    /* background-color: #515151; */
    margin-top: -10px;
}