/* body {
    background-color: #0477BF;
  }
   */
  .s-wrapper {
    width: 390px;
    height: 844px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 5px;
  }
  
  .form {
    text-align: center;
  }
  
  .s-head-container {
    position: relative;
    overflow: hidden;
    height: 270px;
    z-index: 1;
  }
  
  .signup-container {
    height: 574px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    /* background-color: #fff3b7; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  
  .s-head-pic {
    width: 100%;
    height: 100%;
    /* top: -50px; */
    /* z-index: 0; */
    opacity: 0.8;
  }
  
  .s-logo-pic {
    width: 213px;
    height: 60px;
    margin-top: 10px;
  }
  
  .wrapper .s-input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin-top: 40px;
  }
  
  .s-input-box input {
    width: 250px;
    height: 5px;
    /* background: transparent; */
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 20px;
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    background-color: #EFEFEF;
    color: #6D6D6D;
    padding: 20px 45px 20px 20px;
    margin-left: 40px;
    margin-top: 5px;
  }
  
  .s-input-box input:hover {
    border: 2px solid #515151;
    /* background: #fff3b7; */
  }
  
  .s-input-box input:active {
    background: #fff3b7;
  }
  
  .s-input-box input:hover {
    border: 2px solid #515151;
    /* background: #fff3b7; */
  }
  
  .s-input-box input:active {
    background: #fff3b7;
  }

  .s-wrapper .back-to-login {
    /* display: flex; */
    /* justify-content: flex-end; */
    text-align: center;
    font-size: 14px;
    margin-top: -15px;
  }
  
  .back-to-login a {
    color: #0477BF;
    text-decoration: underline;
  }
  
  .back-to-login a:hover {
    font-style: italic;
  }
  
  .s-wrapper button {
    font-family: 'Fredoka', sans-serif;
    width: 130px;
    height: 50px;
    background: #263959;
    color: white;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    font-weight : bold;
    margin-top: 15px;
    /* margin: 10px 130px 10px; */
    transition: background-color 0.3s ease;
  }
  
  .s-wrapper button:hover {
    border: 2px solid #515151;
    background: #fff3b7;
    color: black;
  }
  
  .s-wrapper button:active {
    border: 2px solid #515151;
    background: #fff3b7;
    color: black;
  }