:root {
  font-family: Kanit;
  /* 
  font-family: Kanit, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}

body {
  margin: 0;

  background-color: #8C181C;
}

.centerVertical{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  /* แนวตั้ง */
}
.centerHorizontal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.arrowBack{
  color: #fff;
  height: 1.5em !important;
  width: 1.5em !important;
}
.closed-btn{
  height: 1.5em !important;
  width: 1.5em !important;
}
